body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.companyName {
  color: #edf4f2;
  font-size: 18px;
}

.navbar-brand img {
  width: 120px;
  height: auto;
  margin-right: 10px;
}

.navbar {
  padding: 0.5rem 1rem;
  /* background-color: #31473a; */
  background-color: #00945f;

  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for visibility */
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-brand span {
  text-transform: uppercase;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar .nav-item {
  margin: 10px;
}

.navbar-toggler {
  margin-top: 2px;
  background-color: #edf4f2;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Add space between the icons and the text */
.navbar .navbar-nav .nav-link i {
  margin-right: 5px;
}

/* For small screens, make navbar links stack vertically */
@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
  }
}
